:root{
    --light-color1: #755423;
    --light-color2: #552010;
    --light-color3: #0e0806;
}

html{
    box-sizing: border-box;
    font-family:  sans-serif;
    font-weight: 900;
    color: var(--light-color3);
}

.top{
    display: grid;
    grid-template-areas: 
    "party party cta1"
    "party party cta2";
    gap: 20px;
}

body{
    background: linear-gradient(to right, var(--light-color1),var(--light-color2),var(--light-color3) );
}

.party{
    grid-area: party;
    padding: 20px;
    min-height: 450px;
    background-image: url("../img/hallow.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;    
}

.party >*{
    background: var(--light-color1);
    padding: 10px;
    border-radius: 180px;
}

.cta{
    background-color: var(--light-color1);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.cta p{
    margin: 5px;
}
.cta1{
    grid-area: cta1;
}
.cta2{
    grid-area: cta2;
}

.menu ul{
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.menu a{
    
}
@media (max-width: 1000px){
    .top{
        grid-template-areas: 
        "party party"
        "cta1 cta2";
    }
}

@media (max-width:450px)
{
    .top{
        grid-template-areas: 
        "party"
        "cta1"
        "cta2";

    }    
}